.container {
  margin: 0 auto;
  margin-top: 3rem;
}

.form-group {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

Form {
  margin-top: 2rem;
}

.card {
  margin: 0 auto;
  margin-bottom: 15px;
}

.card .card-body {
  display: flex;
  justify-content: center;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card .card-text span {
  font-weight: bold;
}